<div class="card">
  <div class="table-responsive">
    <table class="table table-striped ff fs-18 ">
        <thead class="bg-primary">
          <tr class="text-light">
            <th scope="col">Patient Name</th>
            <th scope="col">Appointment Date</th>
            <th scope="col">Appointment Time</th>
            <th scope="col">Phone Number</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Mark Adelabu</th>
            <td>05/20</td>
            <td>9:00AM</td>
            <td>09055328886</td>
          </tr>
          <tr>
            <th scope="row">Mark Adelabu</th>
            <td>05/20</td>
            <td>11:40AM</td>
            <td>09055328886</td>
          </tr>
          <tr>
            <th scope="row">Mark Adelabu</th>
            <td>05/20</td>
            <td>12:00AM</td>
            <td>09055328886</td>
          </tr>
        </tbody>
      </table>
  </div>
  
</div>