<div class="row my-3">
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-3">
                <button class="btn btn-primary px-3" type="submit"> <a href="/hospital/register">Register</a></button>
            </div>
            <div class="col-3">
                <button class="btn btn-primary px-3" type="submit"><a href="/hospital/login">Login</a></button>

            </div>
        </div>
           
    </div>
</div>

<nav class="navbar navbar-light bg-light mb-2">
    <span class="navbar-brand mb-0 h1">eDOKITA</span>
    <ul class="nav justify-content-end ">
        <li class="nav-item ">
          <a class="nav-link text-primary" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="#">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="#">Resources</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="#">Contact us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="#">FAQs</a>
          </li>
      </ul>
</nav>

<div class="row">
    <div class="col-md-6">
        <img src="assets/img/doc.jpg" alt="">
    </div>
    <div class="col-md-6">
        <h4 class="text-center">Hospital's Registration</h4>
        <p class="text-center text-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do
            eiusmod tempor incididunt ut </p>
        <div class="col-12">
            <form>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="inputEmail4" placeholder="Hospital Name
                        ">
                    </div>
                    <div class="form-group col-md-6">
                        <select class="form-control">
                            <option>Country</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <select class="form-control">
                            <option>State</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="inputEmail4" placeholder="Address">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="inputPassword4" placeholder="Email
                        ">
                    </div>
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="inputAddress2"
                        placeholder="Phone">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="inputPassword4" placeholder="Name of Contact Person
                        ">
                    </div>
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="inputAddress2"
                        placeholder="Username">
                    </div>
                </div>  
                <div class="form-row">
                    <div class="form-group col-md-6">
                       <textarea name="" id="" cols="30" rows="6" placeholder="Why should you
                       be a provider at
                       eDockita (150
                       words)"></textarea>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="">Upload a scanned copy
                            of your license (120kb)</label>
                        <input type="file" class="bg-dark">
                    </div>
                </div>
               
                <p class=" text-secondary text-center">Accept <span style="color: royalblue;">terms and conditions</span> </p> 
                <div class="row"> 
                    
                    <div class="col-md-5"></div>
                    <div class="col-md-5">
                        <button type="submit" class="btn btn-primary px-3">Register</button>
                    </div>
                </div>
                
                <p class="text-center text-secondary">Are you a registered hospital? <span style="color: royalblue;">Login</span> </p>
                
            </form>
        </div>
    </div>
</div>

