<div class="row">
    <div class="col-md-12">
        <div class="card ">
            <div class="card-header ">
                <h5 class="card-title">Welcome, Dr Micheal</h5>
                <p class="card-category">24 Hours performance</p>
            </div>
            <div class="card-body ">
                <form>
                    <div class="row">
                        <div class="col-7">
                            <p class="card-title">Personal Details</p>
                            <div class="form-row">
                                <label for="inputEmail4">Name of Patient</label>
                                <select class="form-control">
                                    <option>Mike Adelabu</option>
                                    <option selected>Tony Payne</option>

                                </select>
                            </div>
                            <div class="form-row">
                                <label for="inputEmail4">Observation</label>
                                <textarea type="email" class="form-control" id="inputEmail4" placeholder="Email">
                          </textarea>
                            </div>
                            <div class="form-row">
                                <label for="inputEmail4">Diagnosis</label>
                                <textarea type="email" class="form-control" id="inputEmail4" placeholder="Email">
                          </textarea>
                            </div>
                            <div class="form-row">
                                <label for="inputEmail4">Test Order</label>
                                <textarea type="email" class="form-control" id="inputEmail4" placeholder="Email">
                          </textarea>
                            </div>

                        </div>
                        <div class="col-5">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Medication</th>
                                        <th scope="col">Dosage</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">233421</th>
                                        <td>Mark Adelabu</td>
                                        <td>4, Alapafuja Street Okerube Ikotun Lagos</td>
                                        <td>Remove</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">233911</th>
                                        <td>Jacob Thornton</td>
                                        <td>1, Akin Adesola Off Ozumba Mbadiwe VI Lagos</td>
                                        <td>Remove</td>
                                        
                                    </tr>
                                    <tr>
                                        <th scope="row">233121</th>
                                        <td>Larry Payne</td>
                                        <td>9, Marc Franc Avenue IyanaIpaja Lagos</td>
                                        <td>Remove</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <div class="mt-3">
                        <p class="card-title">Prescription</p>
                        <div class="row">
                            <div class="col-3">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Medication</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1">Dosage</label>
                                    <select class="form-control" id="exampleFormControlSelect1">
                                      <option>1</option>
                                      <option>2</option>
                                      <option>3</option>
                                      <option>4</option>
                                      <option>5</option>
                                    </select>
                                  </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1">Quantity</label>
                                    <select class="form-control" id="exampleFormControlSelect1">
                                      <option>1</option>
                                      <option>2</option>
                                      <option>3</option>
                                      <option>4</option>
                                      <option>5</option>
                                    </select>
                                  </div>
                            </div>
                            <div class="col-3">
                                <button type="button" class="btn btn-outline-primary mt-3 mx-5">Add</button>
                            </div>
    
                        </div>
                    </div>
                    <!-- <canvas id=chartHours width="400" height="40"></canvas> -->
                    
                    <button type="submit" class="btn btn-primary float-right">Update</button>
                </form>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    <i class="fa fa-history"></i> Updated 3 minutes ago
                </div>
            </div>
        </div>
    </div>
</div>