<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header ">
        <span class="d-flex flex-row">
          <img src="assets/img/sick.svg" height="50" alt="">
          <h5 class="ff-nunito fs-26 bold mt-2 ml-4">11 Patients</h5>
          <img src="assets/img/heart.svg" height="50" class="ml-auto">
        </span>
      </div>
      <div class="card-body ">
        <!-- <canvas id=chartHours width="400" height="40"></canvas> -->
      </div>
      <div class="card-footer ">
        <hr>
        <div class="ff-nunito fs-20">
          <i class="fa fa-history"></i> Updated 3 minutes ago
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-lg-6 col-sm-12">
    <!-- <div class="col-lg-12 col-md-12 col-sm-12"> -->
      
    <!-- </div> -->
  </div>
  <div class="col-md-6 col-lg-6 col-sm-12"></div>
  
  <div></div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="card ">
      <div class="card-header ">
        <span class="d-flex flex-row">
          <h5 class="ff-nunito fs-26 bold">Earnings</h5>
        </span>
      </div>
      <div class="card-body ">
        <!-- <canvas id="chartEmail"></canvas> -->
        <span class="d-flex flex-row justify-content-between">
          <img src="assets/img/money.svg" height="50" alt="">
          <p class="text-primary fs-32">₦10,202,000</p>
        </span>
        <p class="text-primary float-right fs-18 mt-2">Details</p>
      </div>
      <div class="card-footer ">
        <div class="legend">
          <i class="fa fa-circle text-primary"></i> Opened
          <i class="fa fa-circle text-warning"></i> Read
          <i class="fa fa-circle text-danger"></i> Deleted
          <i class="fa fa-circle text-gray"></i> Unopened
        </div>
        <hr>
        <div class="ff-nunito fs-20">
          <i class="fa fa-calendar"></i> Number of emails sent
        </div>
      </div>
    </div>
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="ff-nunito fs-26 bold">Next Appointment</h5>
        <p class="card-category"></p>
      </div>
      <div class="card-body">
        <!-- <canvas id="speedChart" width="400" height="100"></canvas> -->
        <p class="ff-nunito fs-20">Mike Afolabi, 10:50am</p>
        <p class="ff-nunito fs-20">Okro Isaac, 6:00pm</p>
        <p class="ff-nunito fs-20">Samson Philips, 4:12am</p>
        <span class="d-flex justify-content-between">
          <p class="ff-nunito fs-20">12 More</p>
          <button class="btn btn-primary ff-nunito">View all</button>
        </span>
        
      </div>
      <div class="card-footer">
        <div class="chart-legend">
          <i class="fa fa-circle text-info"></i> Tesla Model S
          <i class="fa fa-circle text-warning"></i> BMW 5 Series
        </div>
        <hr/>
        <div class="ff-nunito fs-20">
          <i class="fa fa-check"></i> Data information certified
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="ff-nunito fs-26 bold">New Patient</h5>
        <p class="card-category"></p>
      </div>
      <div class="card-body">
        <!-- <canvas id="speedChart" width="400" height="100"></canvas> -->
        <p class="ff-nunito fs-20">Mike Afolabi</p>
        <p class="ff-nunito fs-20">Okro Isaac</p>
        <p class="ff-nunito fs-20">Samson Philips</p>
        <span class="d-flex justify-content-between">
          <p class="ff-nunito fs-20">12 More</p>
          <button class="btn btn-primary ff-nunito">View all</button>
        </span>
        
      </div>
      <div class="card-footer">
        <div class="chart-legend">
          <i class="fa fa-circle text-info"></i> Tesla Model S
          <i class="fa fa-circle text-warning"></i> BMW 5 Series
        </div>
        <hr/>
        <div class="ff-nunito fs-20">
          <i class="fa fa-check"></i> Data information certified
        </div>
      </div>
    </div>
  </div>
</div>
