<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">11 Patients</h5>
        <p class="card-category">24 Hours performance</p>
      </div>
      <div class="card-body ">
        <!-- <canvas id=chartHours width="400" height="40"></canvas> -->
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-history"></i> Updated 3 minutes ago
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-lg-6 col-sm-12">
    <!-- <div class="col-lg-12 col-md-12 col-sm-12"> -->
      
    <!-- </div> -->
  </div>
  <div class="col-md-6 col-lg-6 col-sm-12"></div>
  
  <div></div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">Earnings</h5>
        <p class="card-category">Last Campaign Performance</p>
      </div>
      <div class="card-body ">
        <!-- <canvas id="chartEmail"></canvas> -->
        <p>10,202,000</p>
      </div>
      <div class="card-footer ">
        <div class="legend">
          <i class="fa fa-circle text-primary"></i> Opened
          <i class="fa fa-circle text-warning"></i> Read
          <i class="fa fa-circle text-danger"></i> Deleted
          <i class="fa fa-circle text-gray"></i> Unopened
        </div>
        <hr>
        <div class="stats">
          <i class="fa fa-calendar"></i> Number of emails sent
        </div>
      </div>
    </div>
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-title">Next Appointment</h5>
        <p class="card-category"></p>
      </div>
      <div class="card-body">
        <!-- <canvas id="speedChart" width="400" height="100"></canvas> -->
        <p>Mike Afolabi, 10:50am</p>
        <p>Okro Isaac, 6:00pm</p>
        <p>Samson Philips, 4:12am</p>
        <span class="d-flex justify-content-between">
          <p>12 More</p>
          <button class="btn btn-primary">View all</button>
        </span>
        
      </div>
      <div class="card-footer">
        <div class="chart-legend">
          <i class="fa fa-circle text-info"></i> Tesla Model S
          <i class="fa fa-circle text-warning"></i> BMW 5 Series
        </div>
        <hr/>
        <div class="card-stats">
          <i class="fa fa-check"></i> Data information certified
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-title">New Patient</h5>
        <p class="card-category"></p>
      </div>
      <div class="card-body">
        <!-- <canvas id="speedChart" width="400" height="100"></canvas> -->
        <p>Mike Afolabi</p>
        <p>Okro Isaac</p>
        <p>Samson Philips</p>
        <span class="d-flex justify-content-between">
          <p>12 More</p>
          <button class="btn btn-primary">View all</button>
        </span>
        
      </div>
      <div class="card-footer">
        <div class="chart-legend">
          <i class="fa fa-circle text-info"></i> Tesla Model S
          <i class="fa fa-circle text-warning"></i> BMW 5 Series
        </div>
        <hr/>
        <div class="card-stats">
          <i class="fa fa-check"></i> Data information certified
        </div>
      </div>
    </div>
  </div>
</div>
