<div class="card">
  <table class="table table-striped ff fs-18 ">
    <thead class="bg-primary">
      <tr class="text-light">
        <th scope="col">Patient Name</th>
        <th scope="col">Medication</th>
        <th scope="col">Dosage</th>
        <th scope="col">Quantity</th>
        <th scope="col">Provider Name</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">05/20</th>
        <td>Mark Adelabu</td>
        <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores, est ut aliquid conse</td>
        <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores, est ut aliquid conse</td>
        <td>Dr Adelabu Joseph</td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">05/20</th>
        <td>Mark Adelabu</td>
        <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores, est ut aliquid conse</td>
        <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores, est ut aliquid conse</td>
        <td>Dr Adefemi Joshua</td>
        <td class="text-primary bold"></td>
      </tr>
      <tr>
        <th scope="row">05/20</th>
        <td>Mark Adelabu</td>
        <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores, est ut aliquid conse</td>
        <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores, est ut aliquid conse</td>
        <td>Dr. Ena Buliga</td>
        <td class="text-primary bold"></td>
      </tr>
    </tbody>
  </table>

</div>
<!-- <div class="row">
  <div class="col-sm-4">
      <div class="card card-chart">
          <div class="card-header">
            <h5 class="ff-nunito fs-26 bold">Next Appointment</h5>
            <p class="card-category"></p>
          </div>
          <div class="card-body">
            <p class="ff fs-18">Mike Afolabi, 10:50am</p>
            <p class="ff fs-18">Okro Isaac, 6:00pm</p>
            <p class="ff fs-18">Samson Philips, 4:12am</p>
            <span class="d-flex justify-content-between">
              <p class="ff fs-18">12 More</p>
              <button class="btn btn-primary ff">View all</button>
            </span>
            
          </div>
        </div>
  </div>
</div> -->