<div class="row">
  <div class="col-md-4">
    <h5>
      Welcome to <span style="color: royalblue;">eDokita</span>
    </h5>
  </div>
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <h5>
      Dashboard 
    </h5>
  </div>
</div>

<div class="row">
  <!-- first card -->
  <div class="col-md-4">
    <div class="card ">
      <div style="background-color:royalblue;" class="card-header text-white">
        <i class="fal fa-arrow-right"></i>
        <h5 class="card-title ">Pending Appointment</h5>
      </div>
      <div class="card-body text-wrap">
        <p>
          Nov 13, with Dr.John BC
        </p>
        <canvas id="chartEmail"></canvas>
      </div>
      <div class="card-footer "></div>
    </div>
  </div>
  <!-- Second card -->
  <div class="col-md-4">
    <div class="card ">
      <div style="background-color:royalblue;" class="card-header text-white">
        <h5 class="card-title">Subscription</h5>
      </div>
      <div class="card-body text-wrap ">
        <p>
          Your current Subscription
          is <span style="color:blue;">AAA Plan</span> , you have <span style="color:blue;">2</span>
          Consultation left
        </p>
        <canvas height="90px" id="chartEmail"></canvas>
      </div>
      <div class="card-footer ">
       <p>View Subscription</p>
      </div>
    </div>
  </div>
  <!-- Third card -->
  <div class="col-md-4">
    <div class="card ">
      <div style="background-color:royalblue;" class="card-header text-white">
        <h5 class="card-title text-white">Hending Appointment</h5>
      </div>
      <div class="card-body text-wrap ">
        <p></p>
        <canvas id="chartEmail"></canvas>
       </div>
      <div class="card-footer "></div>
    </div>
  </div>
 
</div>

<hr>

<div class="row">
  <div class="col-md-4">
    <h5>
      Medical Report
    </h5>
  </div>
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <h5>
      Listings 
    </h5>
  </div>
</div>
