<div class="card">
  <div class="card-header">
    <h5 class="ff-nunito fs-26">Fill all fields, to include a day that you
      won't be availabe </h5>
    <p class="card-category">24 Hours performance</p>
  </div>
  <div class="card-body ">
    <!-- <canvas id=chartHours width="400" height="40"></canvas> -->
    <div class="row">
      <div class="col-sm-6 my-2">
        <!-- <div class="form-row"> -->
          <form class="ff fs-18" >
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Patient Name</label>
                <select class="form-control">
                  <option>Mike Adelabu</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">Gender</label>
                <select class="form-control">
                  <option>Male</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Test for</label>
                <textarea class="form-control">
                </textarea>
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">Observation</label>
                <textarea class="form-control">
                </textarea>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Result Summary</label>
                <textarea class="form-control">
                </textarea>
              </div>
              
            </div>
            <button type="submit" class="btn btn-primary float-right">Submit</button>
          </form>
          <!-- </div> -->
      </div>
      <div class="col-sm-6">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead class="bg-primary">
                <tr>
                    <th scope="col">Patient Name</th>
                    <th scope="col">Test For</th>
                    <th scope="col">Result</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Micheal Adelabu</th>
                    <td>Prothrombin Time</td>
                    <td><img src="assets/img/success.svg" height="20"alt=""></td>
                    <td class="text-danger bold">Remove</td>
                </tr>
                <tr>
                    <th scope="row">Francis Abagnale</th>
                    <td>Lipid Panel</td>
                    <td><img src="assets/img/close.svg" height="20"alt=""></td>
                    <td class="text-danger bold">Remove</td>
                    
                </tr>
                <tr>
                    <th scope="row">Joshua Simpson</th>
                    <td>Hemoglobin A1C</td>
                    <td><img src="assets/img/success.svg" height="20" alt=""></td>
                    <td class="text-danger bold">Remove</td>
                </tr>
            </tbody>
        </table>
        </div>
      </div>

    </div>
  </div>
  <div class="card-footer ">
    <hr>
    <div class="stats">
      <i class="fa fa-history"></i> Updated 3 minutes ago
    </div>
  </div>
</div>