<div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-4">
        <h4 class="text-secondary">Dashboard >  Book an appintment</h4>
    </div>
</div>

<div class="row">
	<div class="col-md-10">
        <div class="row">
            <div class="col-5">
                <p class="text-secondary">Confirm Appointment
                </p>
                <div class="border border-left-0 border-top-0 border-bottom-0">
                  <p class="pb-4">
                      <b> Dr. Okro Abob</b>
                      <br>Friday Auguts 3, 9;30am
                      <br> AAA Hospital
                  </p>  
                </div>
            </div>
            <div class="col-5">
                <p class="text-secondary">Confirm Appointment
                </p>
                <div class="">
                  <p class="pb-4">
                      <b> Dr. Okro Abob</b>
                      <br>Friday Auguts 3, 9;30am
                      <br> AAA Hospital
                  </p>  
                </div>
            </div>
        </div>
		
        
    </div>
   
	<!-- table column -->
	
</div>
<div class="row">
    <div class="col-md-3">
        
    </div>
    <div class="col-md-3">
        <button type="submit" class="btn btn-secondary px-5"><a href="/patient/appointment1">Prev</a></button>
    </div>
    <div class="col-md-2">
        <button type="submit" class="btn btn-primary px-5"><a href="/patient/appointment3">Confirm</a></button>
    </div>
    <div class="col-md-3">
        
    </div>
</div>