<div class="card">
    <table class="table table-striped ff fs-18 ">
        <thead class="bg-primary">
          <tr class="text-light">
            <th scope="col">Patient Name</th>
            <th scope="col">Plan</th>
            <th scope="col">Status</th>
            <th scope="col" class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Mark Adelabu</th>
            <td>Lorem Plan</td>
            <td>Online</td>
            <td>
              <span class="d-flex flex-row justify-content-around">
                  <div>
                      <mat-checkbox></mat-checkbox>
                        <p>Active</p> 
                  </div> 
                  <div>
                      <mat-checkbox></mat-checkbox>
                      <p> Suspend</p>
                  </div> 
              </span>
                

            </td>            
          </tr>
          <tr>
            <th scope="row">Dr. Mark Adelabu</th>
            <td>Ipsum Plan</td>
            <td>Online</td>
            <td>
              <span class="d-flex flex-row justify-content-around">
                  <div>
                      <mat-checkbox></mat-checkbox>
                        <p>Active</p> 
                  </div> 
                  <div>
                      <mat-checkbox></mat-checkbox>
                      <p> Suspend</p>
                  </div> 
              </span>
                

            </td>            
          </tr>
          <tr>
            <th scope="row">Dr. Mark Adelabu</th>
            <td>Square Plan</td>
            <td>Online</td>
            <td>
              <span class="d-flex flex-row justify-content-around">
                  <div>
                      <mat-checkbox></mat-checkbox>
                        <p>Active</p> 
                  </div> 
                  <div>
                      <mat-checkbox></mat-checkbox>
                      <p> Suspend</p>
                  </div> 
              </span>
                

            </td>            
          </tr>
        </tbody>
      </table>
    
  </div>
  <style>
    ::ng-deep .mat-checkbox .mat-checkbox-frame {
    border-color: #0275d8
  }
  </style>