<div class="row">
  <div class="col-md-6 col-lg-6 col-sm-12">
    <!-- <div class="col-lg-12 col-md-12 col-sm-12"> -->
      
      <!-- </div> -->
    </div>
    <div class="col-md-6 col-lg-6 col-sm-12"></div>
    
    <div></div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="ff-nunito fs-26 bold">Next Appointments</h5>
          <p class="card-category"></p>
        </div>
        <div class="card-body">
          <!-- <canvas id="speedChart" width="400" height="100"></canvas> -->
          <p class="ff-nunito fs-21">Mike Afolabi, 10:50am</p>
          <p class="ff-nunito fs-21">Okro Isaac, 6:00pm</p>
          <p class="ff-nunito fs-21">Samson Philips, 4:12am</p>
          <span class="d-flex justify-content-between">
            <p class="ff-nunito fs-20">12 More</p>
            <button class="btn btn-primary ff-nunito">View all</button>
          </span>
          
        </div>
        <div class="card-footer">
          <div class="chart-legend">
            <i class="fa fa-circle text-info"></i> Tesla Model S
            <i class="fa fa-circle text-warning"></i> BMW 5 Series
          </div>
          <hr/>
          <div class="ff-nunito fs-20">
            <i class="fa fa-check"></i> Data information certified
          </div>
        </div>
      </div>
  </div>
  <div class="col-md-6">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="ff-nunito fs-26 bold">Services</h5>
        <p class="card-category"></p>
      </div>
      <div class="card-body">
        <!-- <canvas id="speedChart" width="400" height="100"></canvas> -->
        <div class="row">
          <div class="col-4">
            <p class="ff-nunito fs-21">Family Medicine</p>
          </div>
          <div class="col-8">
            <span class="ml-3 text-primary bold">50 Patients</span>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <p class="ff-nunito fs-21">Family Planning </p>
          </div>
          <div class="col-8">
            <span class="ml-3 text-primary bold">21 Patients</span>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <p class="ff-nunito fs-21">Immunization</p>
          </div>
          <div class="col-8">
            <span class="ml-3 text-primary bold">110 Patients</span>
          </div>
        </div>
       
        <span class="d-flex justify-content-between">
          <p class="ff-nunito fs-20">12 More</p>
          <button class="btn btn-primary ff-nunito">View all</button>
        </span>
        
      </div>
      <div class="card-footer">
        <div class="chart-legend">
          <i class="fa fa-circle text-info"></i> Tesla Model S
          <i class="fa fa-circle text-warning"></i> BMW 5 Series
        </div>
        <hr/>
        <div class="ff-nunito fs-20">
          <i class="fa fa-check"></i> Data information certified
        </div>
      </div>
    </div>
  </div>
</div>
