<div class="card">
  <table class="table table-striped ff fs-18 ">
      <thead class="bg-primary">
        <tr class="text-light">
          <th scope="col">Name</th>
          <th scope="col">Speciality</th>
          <th scope="col">License ID</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">233421</th>
          <td>Dr. Mark Adelabu</td>
          <td>121-4567-984</td>
          <button class="btn btn-primary my-1"  data-toggle="modal" data-target="#exampleModalCenter"> Details</button>
          <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <!-- <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div> -->
                <div class="modal-body ff-nunito fs-17 fw-600">
                  <img src="assets/img/information.svg" class="mx-auto w-100" height="100" alt="">
                 <p class="ff fs-18 fw-600 text-center">Dr. Mike Afolabi</p>
                 <span class="d-flex justify-content-between">
                   <p> <i class="nc-icon  nc-circle-10"></i> Male</p>
                   <p> <i class="nc-icon nc-mobile"></i>09055328886</p>
                 </span>
                 <p><i class="nc-icon nc-email-85"></i> mikeafolabi01@gmail.com</p>
                 <p><i class="nc-icon nc-single-02"></i>Cardiologist</p>
                 <p><i class="nc-icon nc-tile-56" ></i> AAA Hospital</p>
                 <hr>
                </div>
                <div class="px-3 fn fs-18">
                  <p>License Details</p>
                  <p>ID Number:  <span>121-4567-984</span></p>
                  <p>Issue Date:  <span>1995-04-12</span></p>
                  <p>Expiry Date: <span>1999-04-12</span></p>
                  <button type="button" class="btn btn-secondary mr-1 my-2" data-dismiss="modal">Reject</button>
                  <button type="button" class="btn btn-primary my-2">Accept</button>
                </div>
              </div>
            </div>
          </div>
        </tr>
        <tr>
          <th scope="row">233911</th>
          <td>Dr. Jacob Thornton</td>
          <td>121-4567-984</td>
          <button class="btn btn-primary my-1"> Details</button>
        </tr>
        <tr>
          <th scope="row">233121</th>
          <td>Dr. Larry Payne</td>
          <td>9, Marc Franc Avenue IyanaIpaja Lagos</td>
          <button class="btn btn-primary my-1"> Details</button>
        </tr>
      </tbody>
    </table>
  
</div>