<div style="background-color: white !important;">
    <div class="row py-5 m-0">
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-3">
                    <button class="btn btn-primary px-3" type="submit">Register</button>
                </div>
                <div class="col-3">
                    <button class="btn btn-primary px-3" type="submit">Login</button>
    
                </div>
            </div>
               
        </div>
    </div>
    
    <nav class="navbar navbar-light ff fs-18 bold">
        <span class="navbar-brand mb-0 ">eDOKITA</span>
        <ul class="nav justify-content-end ">
            <li class="nav-item ">
              <a class="nav-link text-primary" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="#">About us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="#">Resources</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="#">Contact us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="#">FAQs</a>
              </li>
          </ul>
    </nav>
    
    <div class="row m-0">
        <div class="col-md-6">
            <img src="assets/img/doc.jpg" alt="">
        </div>
        <div class="col-md-6 ff fs-21">
            <h4 class="text-center ff-nunito fs-26 bold">Doctor's Registration</h4>
            <p class="text-center text-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do
                eiusmod tempor incididunt ut </p>
            <div class="col-12">
                <form>
    
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" id="inputEmail4" placeholder="Full Name">
                        </div>
                        <div class="form-group col-md-6">
                            <select class="form-control">
                                <option>Speciality</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" id="inputEmail4" placeholder="Last Name">
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" id="inputEmail4" placeholder="Affiliated Hospital">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="email" class="form-control" id="inputEmail4" placeholder="Email
                            ">
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" id="inputEmail4" placeholder="License ID Number">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <select class="form-control">
                                <option>Gender</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" id="inputEmail4" placeholder="License Issue Date
                            ">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" id="inputEmail4" placeholder="Phone">
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" id="inputEmail4" placeholder="License Expiry Date">
                        </div>
                    </div>
                   
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" id="inputPassword4" placeholder="Address">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="">Upload a scanned copy
                                of your license (120kb)</label>
                                <button class="btn btn-secondary ml-2" (click)="filePicker1.click()"> Choose a File</button>
                                <input type="file" #filePicker1 style="display: none;">
                            <label for="" class="text-danger mt-1">All licensed medical specialist are
                                required to provide the above
                                information</label>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <select class="form-control">
                                <option>Country</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <select class="form-control">
                                <option>City
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <textarea class="form-control" id="inputEmail4" placeholder="Why should you
                            be a provider at
                            eDockita (150
                            words)"></textarea>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" id="inputEmail4" placeholder="Username
                            ">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" id="inputEmail4" placeholder="Password">
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" id="inputPassword4" placeholder="Confirm Password">
                        </div>
                    </div>
                    <p class="text-center text-secondary">Accept  <span style="color: royalblue;">terms and conditions</span> </p>
                    <div class="row">  
                        <div class="col-md-5"></div>
                        <div class="col-md-5">
                            <button type="submit" class="btn btn-primary">Register</button>
                        </div>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>

</div>

