<div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-4">
        <h4 class="text-secondary">Dashboard > Find a Hospital</h4>
    </div>
</div>

<div class="row">
    <div class="col-md-10">
       <div class="col-lg-12 col-sm-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d253682.6326921266!2d3.1438696994062787!3d6.548035697306224!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103b8b2ae68280c1%3A0xdc9e87a367c3d9cb!2sLagos!5e0!3m2!1sen!2sng!4v1585426112434!5m2!1sen!2sng" width="900" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

        <form class="my-4">
            <div class="input-group">
                <input type="text" value="" class="form-control" placeholder="Search...">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <i class="nc-icon nc-zoom-split"></i>
                    </div>
                </div>
            </div>
        </form>
       </div>
       <div class="row">
        <div class="col-sm-6 ">
            <div class="card card-user">
                <div class="image">
                    <!-- <img class="mt-2 w-15 h-25  float-sm-right" src="assets/img/heart.png" alt="..."> -->
                </div>
                <div class="card-body">
                  <div class="author">
                    <a href="#">
                      <img class=" w-50 pb-3" src="assets/img/tube.jpg" alt="...">
                      <h5 class="text-secondary">BD Laboratory</h5>
                    </a>
                  </div>
                  <p class="description text-center">
                    2/9 Totlie Road, Opata, 
                    <br> Lagos
                    <br> <img class=" w-50" src="assets/img/rating.png" alt="...">
                  </p>
                </div>
                <div class="card-footer">
     
                  <div class="button-container">
                    <div class="row">
                      <div class="col-lg-4 mr-auto">
                        
                      </div>
                      <div class="col-lg-4 mr-auto">
                        <img class=" w-75" src="assets/img/phone.png" alt="...">
                      </div>
                      <div class="col-lg-4 mr-auto">
                        
                      </div>
                     
                    </div>
                  </div>
                </div>
            </div>
        </div>
<!-- second tile -->
        <!-- <div class="col-sm-2"></div> -->

        <div class="col-sm-6 ">
            <div class="card card-user">
                <div class="image">
                    <!-- <img class="mt-2 w-15 h-25  float-sm-right" src="assets/img/heart.png" alt="..."> -->
                </div>
                <div class="card-body">
                <div class="author">
                    <a href="#">
                    <img class=" w-50 pb-3" src="assets/img/tube.jpg" alt="...">
                    <h5 class="text-secondary">AMC Hospitaly</h5>
                    </a>
                </div>
                <p class="description text-center">
                    2/9 Totlie Road, Opata,
                    <br> Lagos
                    <br> <img class=" w-50" src="assets/img/rating.png" alt="...">

                </p>
                </div>
                <div class="card-footer">

                <div class="button-container">
                    <div class="row">
                    <div class="col-lg-4 mr-auto">
                        
                    </div>
                    <div class="col-lg-4 mr-auto">
                        <img class=" w-75" src="assets/img/phone.png" alt="...">
                    </div>
                    <div class="col-lg-4 mr-auto">
                        
                    </div>
                    
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>