<div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-4">
        <p>Dashboard > Update profile</p>
    </div>
</div>

<div class="row">
    <div class="col-md-8">

        <div class="col-12">
            <form>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="inputEmail4" placeholder="John">
                    </div>
                    <div class="form-group col-md-6">

                        <input type="text" class="form-control" id="inputPassword4" placeholder="Middle Name">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="email" class="form-control" id="inputEmail4" placeholder="Doe">
                    </div>
                    <div class="form-group col-md-6">
                        <select class="form-control">
                            <option>Male</option>
                            <option>Female</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <select class="form-control">
                            <option>Lagos</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="inputEmail4" placeholder="Marital Status">
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="inputAddress2"
                        placeholder="Apartment, studio, or floor">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <select class="form-control">
                            <option>Blood group</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <select class="form-control">
                            <option>Genotype</option>
                        </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Update</button>

                <hr>
                <p>Change password</p>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="inputEmail4" placeholder="Old Password">
                    </div>
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="inputPassword4" placeholder="New Password">
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-2">
                <img class=" w-100 pt-5" src="assets/img/camera.png" alt="camera image">

                <img class=" w-100 pt-5 mt-5" src="assets/img/camera.png" alt="camera image">

            </div>
            <div class="col-10">
                <img class="pt-2" src="assets/img/mike.jpg" alt="...">
            </div>
        </div>
    </div>
</div>