<div class="card">
  <div class="table-responsive">
    <table class="table table-striped ff fs-18 ">
        <thead class="bg-primary">
          <tr class="text-light">
            <th scope="col">Name</th>
            <th scope="col">Speciality</th>
            <th scope="col">Tel No</th>
            <th scope="col">Subcription Plan</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Dr. Mark Adelabu</th>
            <td>Cardiology</td>
            <td>09055328886</td>
            <td>Gold</td>
            <td>Online</td>
            <td>
              <span class="d-flex flex-row justify-content-between">
                  <div>
                      <mat-checkbox></mat-checkbox>
                        <p>Active</p> 
                  </div> 
                  <div>
                      <mat-checkbox></mat-checkbox>
                      <p> Suspend</p>
                  </div> 
              </span>
                

            </td>            
          </tr>
          <tr>
            <th scope="row">Dr. Mark Adelabu</th>
            <td>Cardiology</td>
            <td>09055328886</td>
            <td>Gold</td>
            <td>Online</td>
            <td>
              <span class="d-flex flex-row justify-content-between">
                  <div>
                      <mat-checkbox></mat-checkbox>
                        <p>Active</p> 
                  </div> 
                  <div>
                      <mat-checkbox></mat-checkbox>
                      <p> Suspend</p>
                  </div> 
              </span>
                

            </td>            
          </tr>
          <tr>
            <th scope="row">Dr. Mark Adelabu</th>
            <td>Cardiology</td>
            <td>09055328886</td>
            <td>Gold</td>
            <td>Online</td>
            <td>
              <span class="d-flex flex-row justify-content-between">
                  <div>
                      <mat-checkbox></mat-checkbox>
                        <p>Active</p> 
                  </div> 
                  <div>
                      <mat-checkbox></mat-checkbox>
                      <p> Suspend</p>
                  </div> 
              </span>
                

            </td>            
          </tr>
        </tbody>
      </table>
  </div>
    
  </div>
  <style>
    ::ng-deep .mat-checkbox .mat-checkbox-frame {
    border-color: #0275d8
  }
  </style>