<div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-4">
        <h4 class="text-secondary">Dashboard >  Book an appintment</h4>
    </div>
</div>

<div class="row">
	<div class="col-md-8">
		<div class="col-10">
            <p class="text-secondary">Select appointment Time and Date</p>
            
              
              <ul class="days">
                <span style="background-color: greenyellow;">
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                </span>
                <span style="background-color: red;" class="text-white">
                    <li>5</li>
                    <li>6</li>
                    <li>7</li>
                    <li>8</li>
                    <li>9</li>
                </span>
                <span style="background-color: royalblue;" class="text-white">
                <li>10</li>
                <li>11</li>
                <li>12</li>
                <li>13</li>
                <li>14</li>
                <li>15</li>
                <li>16</li>
                </span>
                <span style="background-color: red;" class="border border-secondary">
                <li>17</li>
                <li>18</li>
                <li>19</li>
                <li>20</li>
                <li>21</li>
                <li>22</li>
                <li>23</li>
                <li>24</li>
                </span>
                <span style="background-color: royalblue;" class="text-white">
                <li>25</li>
                <li>26</li>
                <li>27</li>
                <li>28</li>
                <li>29</li>
                </span>
                <span style="background-color: greenyellow;">
                <li>30</li>
                <li>31</li>
                </span>
              </ul>
              
			<div>
                <p class="pt-2"> <span style="background-color: royalblue;" class="border border-secondary">&nbsp;&nbsp;&nbsp;&nbsp;</span> yet to be booked</p>
                <p class=""> <span style="background-color: greenyellow;" class="border border-secondary">&nbsp;&nbsp;&nbsp;&nbsp;</span> booked by you</p>
                <p> <span style="background-color: red;" class="border border-secondary">&nbsp;&nbsp;&nbsp;&nbsp;</span>not available</p>


            </div>
        </div>
        
    </div>
    <div class="col-md-4">
        <div class="form-row">
            <div class="form-group col-md-10 my-4">
                <input type="date" class="form-control" >
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-10 mb-4">
                <select class="form-control">
                    <option>Time</option>
                </select>
            </div>
        </div>
    </div>
	<!-- table column -->
	
</div>
<div class="row mt-4">
    <div class="col-md-3">
        
    </div>
    <div class="col-md-3">
        <button type="submit" class="btn btn-secondary px-5">Prev</button>
    </div>
    <div class="col-md-3">
        <button type="submit" class="btn btn-primary px-5"><a href="/patient/appointment2">Next</a></button>
    </div>
    <div class="col-md-3">
        
    </div>
</div>