<div class="card">
    <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4">
            <h4 class="text-secondary">Dashboard > Find a Hospital</h4>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-4">
            <h4 class="ff-nunito fs-26 bold">Doctor's Prescription</h4>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h4 style="color: royalblue;" data-toggle="modal" data-target="#exampleModal"> <span style="color: black; font-size:xx-large;">+</span>  Add Prescription</h4>
    
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Enter prescription details accurately
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" id="inputEmail4" placeholder="Provider Name">
                            </div>
                            <div class="form-group col-md-6">
        
                                <input type="text" class="form-control" id="inputPassword4" placeholder="Date of Prescription">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <textarea placeholder="Condition" class="form-control" id="message-text"></textarea>
                            </div>
                        </div>
                    </form>
                    <hr>
                    <div class="row">
                        <div class="col-md-4">Add Prescription</div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <p class="border text-secondary">+ Add</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-striped col-12">
                                    <thead class="text-white bg-primary">
                                        <tr>
                                            <th scope="col">S/N</th>
                                            <th class="px-2" scope="col">Medication</th>
                                            <th scope="col">Dosage</th>
                                            <th scope="col">Quality</th>
                        
                                        </tr>
                                    </thead>
                                    <tbody>
                                       
                                        <tr>
                                            <td></td>
                                            <td class="border"></td>
                                            <td class="border"></td>
                                            <td class="border"></td>
                                        </tr> 
                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    
                    </div>
                    <div class="row">
                        <div class="col-12 border">
                            <form class="my-4">
                                <div class="input-group">
                                    <input type="text" value="" class="form-control" placeholder="Search...">
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <i class="nc-icon nc-zoom-split"></i>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="row">
                                <div class="col-md-4">DCS Phamacry</div>
                                <div class="col-md-4"></div>
                                <div class="col-md-4">
                                    <button type="button" class="border border-primary btn btn-light">Send </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
    
                </div>
            </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped col-12">
                <thead class="text-white bg-primary">
                    <tr>
                        <th scope="col">Date</th>
                        <th class="px-2" scope="col">ProviderName</th>
                        <th scope="col">Prescription </th>
                        <th scope="col">Action</th>
    
                    </tr>
                </thead>
                <tbody>
                   
                    <tr>
                        <!-- <th scope="row">11/09</th>
                        <td>Dr. Michael M. R</td>
                        <td>Lorem ipsum
                            dolor sit amet,
                            consectetur
                            adipiscing elit,
                            sed do
                            eiusmod </td>
                        <td>Lorem
                            ipsum
                            dolor sit
                            amet,
                            consectetur
                            adipiscing</td>
                        <td>Lorem ipsum
                            dolor sit amet,
                            consectetur
                            adipiscing elit,
                            sed do eiusmod
                            tempor </td> -->
                    </tr>
    
                </tbody>
            </table>
        </div>
    
    </div>
</div>
