<div class="row my-5">
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-3">
                <button class="btn btn-primary px-3" type="submit"> <a href="/patient/register">Register</a></button>
            </div>
            <div class="col-3">
                <button class="btn btn-primary px-3" type="submit"><a href="/patient/login">Login</a></button>
            </div>
        </div>
           
    </div>
</div>

<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">eDOKITA</span>
    <ul class="nav justify-content-end ">
        <li class="nav-item ">
          <a class="nav-link text-primary" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="#">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="#">Resources</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="#">Contact us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="#">FAQs</a>
          </li>
      </ul>
</nav>

<div class="row">
    <div class="col-md-4 mt-5">
        <h2 class="text-center">Login to your
            Account</h2>
        
        <div class="col-12">
            <form>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <input type="email" class="form-control py-4" id="inputEmail4" placeholder="Username/Email">
                    </div>
                    
                </div>
               
                <div class="form-row">
                    <div class="form-group col-md-12 ">
                        <input type="text" class="form-control py-4" id="inputEmail4" placeholder="Password">
                    </div>
                </div>
                <div class="row">  
                    <div class="col-md-5"></div>
                    <div class="col-md-5">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </div>
                <p class="text-center my-4">Forget password?</p>
                <p class="text-center text-secondary">Create an account. <span style="color: royalblue;">Register</span> </p>
                
            </form>
        </div>
    </div>
    <div class="col-md-8">
        <img src="assets/img/doc.jpg" alt="">
    </div>
    
</div>

