<div class="card">
  <div class="card-header">
    <h5 class="ff-nunito fs-26">Create a subsciption plan</h5>
    <p class="card-category">24 Hours performance</p>
  </div>
  <div class="card-body ">
    <!-- <canvas id=chartHours width="400" height="40"></canvas> -->
    <div class="row">
      <div class="col-6">
        <!-- <div class="form-row"> -->
          <form class="ff fs-18" >
            <div class="form-group">
              <label for="inputEmail4">Subscription Name</label>
              <input type="text" class="form-control" id="inputEmail4" placeholder="">
            </div>
            <div class="form-group">
              <label for="inputPassword4">Price</label>
              <input type="text" class="form-control" id="inputPassword4" placeholder="">
            </div>
            <div class="form-group">
              <label for="inputPassword4">Consultation</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <div class="form-group">
              <label for="inputPassword4">Duration</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>1 Week(s)</option>
                <option>2 Week(s)</option>
                <option>3 Week(s)</option>
                <option>4 Week(s)</option>
                <option>5 Week(s) </option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
          </form>
          <!-- </div> -->
      </div>
</div>
