<div class="card">
    <table class="table table-striped ff fs-18 ">
        <thead class="bg-primary">
          <tr class="text-light">
            <th scope="col">ID</th>
            <th scope="col">Patient Name</th>
            <th scope="col">Address</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">233421</th>
            <td>Mark Adelabu</td>
            <td>4, Alapafuja Street Okerube Ikotun Lagos</td>
            <td class="text-primary bold">View History</td>
          </tr>
          <tr>
            <th scope="row">233911</th>
            <td>Jacob Thornton</td>
            <td>1, Akin Adesola Off Ozumba Mbadiwe VI Lagos</td>
            <td class="text-primary bold">View History<td>
          </tr>
          <tr>
            <th scope="row">233121</th>
            <td>Larry Payne</td>
            <td>9, Marc Franc Avenue IyanaIpaja Lagos</td>
            <td class="text-primary bold">View History</td>
          </tr>
        </tbody>
      </table>
    
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="card card-chart">
            <div class="card-header">
              <h5 class="ff-nunito fs-26 bold">Next Appointment</h5>
              <p class="card-category"></p>
            </div>
            <div class="card-body">
              <!-- <canvas id="speedChart" width="400" height="100"></canvas> -->
              <p class="ff fs-18">Mike Afolabi, 10:50am</p>
              <p class="ff fs-18">Okro Isaac, 6:00pm</p>
              <p class="ff fs-18">Samson Philips, 4:12am</p>
              <span class="d-flex justify-content-between">
                <p class="ff fs-18">12 More</p>
                <button class="btn btn-primary ff">View all</button>
              </span>
              
            </div>
            <!-- <div class="card-footer ff fs-18">
              <div class="chart-legend">
                <i class="fa fa-circle text-info"></i> Health is
                <i class="fa fa-circle text-warning"></i> Wealth
              </div>
              <hr/>
            </div> -->
          </div>
    </div>
</div>