<div class="card">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Patient Name</th>
            <th scope="col">Address</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">233421</th>
            <td>Mark Adelabu</td>
            <td>4, Alapafuja Street Okerube Ikotun Lagos</td>
            <td>View History</td>
          </tr>
          <tr>
            <th scope="row">233911</th>
            <td>Jacob Thornton</td>
            <td>1, Akin Adesola Off Ozumba Mbadiwe VI Lagos</td>
            <td>View History<td>
          </tr>
          <tr>
            <th scope="row">233121</th>
            <td>Larry Payne</td>
            <td>9, Marc Franc Avenue IyanaIpaja Lagos</td>
            <td>View History</td>
          </tr>
        </tbody>
      </table>
    
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="card card-chart">
            <div class="card-header">
              <h5 class="card-title">Next Appointment</h5>
              <p class="card-category"></p>
            </div>
            <div class="card-body">
              <!-- <canvas id="speedChart" width="400" height="100"></canvas> -->
              <p>Mike Afolabi, 10:50am</p>
              <p>Okro Isaac, 6:00pm</p>
              <p>Samson Philips, 4:12am</p>
              <span class="d-flex justify-content-between">
                <p>12 More</p>
                <button class="btn btn-primary">View all</button>
              </span>
              
            </div>
            <div class="card-footer">
              <div class="chart-legend">
                <i class="fa fa-circle text-info"></i> Tesla Model S
                <i class="fa fa-circle text-warning"></i> BMW 5 Series
              </div>
              <hr/>
              <div class="card-stats">
                <i class="fa fa-check"></i> Data information certified
              </div>
            </div>
          </div>
    </div>
</div>