
<div class="sidebar-wrapper">
  <div class="author">
    <p class="title text-center py-3 mb-0">John Mike</p>
    <p class="font-weight-bold m-0 description text-center">
      ID:<span style="color:blue;">2345678</span> 
    </p>
    <a href="#">
      
      <img class=" w-100 px-5 rounded-circle" src="assets/img/mike.jpg" alt="...">
      
    </a>
    
  </div>
    <ul class="nav">
        <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
            <a [routerLink]="[menuItem.path]">
                <i class="nc-icon {{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div>
