<div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-4">
      <h4 class="text-secondary">Dashboard > Talk to A Doctor</h4>
    </div>
</div>


<div class="row mb-4">
    <div class="col-md-4">
        <form>
            <div class="input-group">
                <input type="text" value="" class="form-control" placeholder="Search...">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <i class="nc-icon nc-zoom-split"></i>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <div class="form-row">
            <div class="form-group col-md-12">
                <select class="form-control">
                    <option>Speciality</option>
                    <option></option>
                   
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-row">
            <div class="form-group col-md-12">
                <select class="form-control">
                    <option>Plan</option>
                    <option></option>
                   
                </select>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-sm-6">
                <div class="card card-user">
                    <div class="image">
                      <!-- <img src="assets/img/damir-bosnjak.jpg" alt="..."> -->
                    </div>
                    <div class="card-body">
                      <div class="author">
                        <a href="#">
                          <img class=" w-75 pb-3" src="assets/img/doc.jpg" alt="...">
                          <h5 class="title">Dr. Mike Adegoke</h5>
                        </a>
                      </div>
                      <p class="description text-center">
                        Dermatologist
                        <br>  2 Years of Experince
                        <br> <img class=" w-75" src="assets/img/rating.png" alt="...">
                      </p>
                    </div>
                    <div class="card-footer">
                      <hr>
                      <div class="button-container">
                        <div class="row">
                          <div class="col-lg-3 mr-auto">
                            <img class=" w-75" src="assets/img/phone.jpg" alt="...">
                          </div>
                          <div class="col-lg-3 mr-auto">
                            <img class=" w-75" src="assets/img/chat.png" alt="...">
                          </div>
                          <div class="col-lg-3 mr-auto">
                            <img class=" w-75" src="assets/img/video.png" alt="...">
                          </div>
                          <div class="col-lg-3 mr-auto">
                            <img class=" w-75" src="assets/img/add.jpg" alt="...">
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
<!-- second tile -->
            <div class="col-sm-6">
                <div class="card card-user">
                    <div class="image">
                      <!-- <img src="assets/img/damir-bosnjak.jpg" alt="..."> -->
                    </div>
                    <div class="card-body">
                      <div class="author">
                        <a href="#">
                          <img class=" w-75 pb-3" src="assets/img/doc.jpg" alt="...">
                          <h5 class="title">Dr. Mike Adegoke</h5>
                        </a>
                      </div>
                      <p class="description text-center">
                        Dermatologist
                        <br>  2 Years of Experince
                        <br> <img class=" w-75" src="assets/img/rating.png" alt="...">
                      </p>
                    </div>
                    <div class="card-footer">
                      <hr>
                      <div class="button-container">
                        <div class="row">
                          <div class="col-lg-3 mr-auto">
                            <img class=" w-75" src="assets/img/phone.jpg" alt="...">
                          </div>
                          <div class="col-lg-3 mr-auto">
                            <img class=" w-75" src="assets/img/chat.png" alt="...">
                          </div>
                          <div class="col-lg-3 mr-auto">
                            <img class=" w-75" src="assets/img/video.png" alt="...">
                          </div>
                          <div class="col-lg-3 mr-auto">
                            <img class=" w-75" src="assets/img/add.jpg" alt="...">
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- lower tile -->
        <div class="row">
            <div class="col-sm-6">
                <div class="card card-user">
                    <div class="image">
                      <!-- <img src="assets/img/damir-bosnjak.jpg" alt="..."> -->
                    </div>
                    <div class="card-body">
                      <div class="author">
                        <a href="#">
                          <img class=" w-75 pb-3" src="assets/img/doc.jpg" alt="...">
                          <h5 class="title">Dr. Mike Adegoke</h5>
                        </a>
                      </div>
                      <p class="description text-center">
                        Dermatologist
                        <br>  2 Years of Experince
                        <br> <img class=" w-75" src="assets/img/rating.png" alt="...">
                      </p>
                    </div>
                    <div class="card-footer">
                      <hr>
                      <div class="button-container">
                        <div class="row">
                          <div class="col-lg-3 mr-auto">
                            <img class=" w-75" src="assets/img/phone.jpg" alt="...">
                          </div>
                          <div class="col-lg-3 mr-auto">
                            <img class=" w-75" src="assets/img/chat.png" alt="...">
                          </div>
                          <div class="col-lg-3 mr-auto">
                            <img class=" w-75" src="assets/img/video.png" alt="...">
                          </div>
                          <div class="col-lg-3 mr-auto">
                            <img class=" w-75" src="assets/img/add.jpg" alt="...">
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
<!-- second tile -->
            <div class="col-sm-6">
                <div class="card card-user">
                    <div class="image">
                      <!-- <img src="assets/img/damir-bosnjak.jpg" alt="..."> -->
                    </div>
                    <div class="card-body">
                      <div class="author">
                        <a href="#">
                          <img class=" w-75 pb-3" src="assets/img/doc.jpg" alt="...">
                          <h5 class="title">Dr. Mike Adegoke</h5>
                        </a>
                      </div>
                      <p class="description text-center">
                        Dermatologist
                        <br>  2 Years of Experince
                        <br> <img class=" w-75" src="assets/img/rating.png" alt="...">
                      </p>
                    </div>
                    <div class="card-footer">
                      <hr>
                      <div class="button-container">
                        <div class="row">
                          <div class="col-lg-3 mr-auto">
                            <img class=" w-75" src="assets/img/phone.jpg" alt="...">
                          </div>
                          <div class="col-lg-3 mr-auto">
                            <img class=" w-75" src="assets/img/chat.png" alt="...">
                          </div>
                          <div class="col-lg-3 mr-auto">
                            <img class=" w-75" src="assets/img/video.png" alt="...">
                          </div>
                          <div class="col-lg-3 mr-auto">
                            <img class=" w-75" src="assets/img/add.jpg" alt="...">
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h4>Filter Search</h4>
       <div class="col-6 border border-secondary mb-5">
        
        <span class="text-secondary">Gender</span>
        <div class="custom-control custom-checkbox my-3 mx-2">
            <input type="checkbox" class="custom-control-input" id="customCheck1">
            <label class="custom-control-label" for="customCheck1">Male</label>
        </div>
        <div class="custom-control custom-checkbox mx-2">
            <input type="checkbox" class="custom-control-input" id="customCheck1">
            <label class="custom-control-label" for="customCheck1">Female</label>
        </div>
       </div>

      
       <div class="col-6 border border-secondary">
        
            <span class="text-secondary my-2">Location</span>
            <div class="form-row my-3 mx-2">
                <div class="form-group col-md-12">
                    <select class="form-control">
                        <option>Relationship</option>
                    </select>
                </div>
            </div>

            <div class="form-row mx-2">
                <div class="form-group col-md-12 ">
                    <select class="form-control">
                        <option>Blood group</option>
                    </select>
                </div>
            </div>
       </div>
    </div>
</div>