<div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-4">
        <p>Dashboard > Talk to A Doctor</p>
    </div>
</div>


<div class="row">
    <div class="col-md-4">
        <form>
            <div class="input-group">
                <input type="text" value="" class="form-control" placeholder="Search...">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <i class="nc-icon nc-zoom-split"></i>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <div class="form-row">
            <div class="form-group col-md-12">
                <select class="form-control">
                    <option>Speciality</option>
                    <option></option>
                   
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-row">
            <div class="form-group col-md-12">
                <select class="form-control">
                    <option>Plan</option>
                    <option></option>
                   
                </select>
            </div>
        </div>
    </div>
</div>